/* Estilos para el título */
h2 {
    color: #333; /* Color del texto */
    font-size: 24px; /* Tamaño del texto */
}

/* Estilos para la imagen */
img {
    max-width: 100%; /* Asegura que la imagen no se extienda más allá de su contenedor */
    height: auto; /* Hace que la altura de la imagen se ajuste automáticamente para mantener la proporción de aspecto */
    display: block; /* Evita que la imagen tenga espacios en blanco debajo */
    margin-top: 20px; /* Espacio superior entre el título y la imagen */
}
