<!-- verificar.html -->
{% extends 'base.html' %}
  
{% block conteudo %}
    {% with mensagens = get_flashed_messages() %}
        {% if mensagens %}
            {% for msg in mensagens %}
                {{ msg }}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('verificar') }}" method="post">
        Usuário: <input type="text" name="usuario4"><br>
        Senha: <input type="password" name="senha4"><br>
        Usuário: <input type="text" name="usuario5"><br>
        Senha: <input type="password" name="senha5"><br>
        <button type="submit">Entrar</button>
    </form>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilo5.css') }}">
{% endblock %}
